/* About Section */
#about {
  width: 100%;
  height: 100vh;
  background: url("../../public/images/b1.png"),
    url("../../public/images/bg1.jpeg");
  background-size: 40% 90%, cover;
  background-position: right, center;
  background-repeat: no-repeat, no-repeat;
  clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
  border-top: 2px solid #444;
}

/* Content Styles */
.content {
  display: flex;
  align-content: flex-start;
  padding-left: 170px;
  padding-top: 170px;
}

/* Heading Styles */
h1 {
  font-size: 2.8rem;
  margin-bottom: 20px;
  animation: fadeIn 2s ease-out;
}

.text {
  padding: 10px 50px;
}

/* Text Block Styles */
.text p {
  font-size: 1.35rem;
  color: aliceblue;
  margin: 10px 0;
}

.text h1 {
  font-size: 2.8rem;
  color: #00a8a8;
  margin: 10px 0;
  font-weight: bold;
}

/* Animation for #ani */
#ani {
  font-weight: bold;
  color: #00a8a8;
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding-left: 10px;
}

/* Button Styles */
.btn {
  display: inline-block;
  padding: 0.5em 0.75em;
  font-size: 1.2rem;
  color: aliceblue;
  background: linear-gradient(45deg, #142e39, #00a8a8);
  border: none;
  border-radius: 2em 1em 2em 0;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s ease, transform 0.3s ease;
  box-shadow: 0 0.25em 1em rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background: linear-gradient(45deg, #00a8a8, #142e39);
  transform: translateY(-0.125em);
}

.btn:active {
  transform: translateY(0);
}

/* Animation for About Me section */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  #about {
    height: 40vh;
    width: 95%;
    padding: 20px;
  }

  .content {
    flex-direction: column;
    align-items: right;
    padding-left: 0;
    padding-top: 40px;
  }

  h1 {
    font-size: 2rem;
  }

  .text p {
    font-size: 1rem;
  }

  .text h1 {
    font-size: 2rem;
  }

  .btn {
    padding: 10px 20px;
    font-size: 0.9rem;
  }
}

/* Responsive Styles for 576px and below */
@media (max-width: 576px) {
  #about {
    height: 40vh;
    width: 95%;
    padding: 10px;
  }

  .content {
    flex-direction: column;
    align-items: right;
    padding-left: 0;
    padding-top: 40px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .text p {
    font-size: 0.9rem;
  }

  .text h1 {
    font-size: 1.5rem;
  }

  .btn {
    padding: 8px 16px;
    font-size: 0.8rem;
  }
}
