/* Base font size */
html {
  font-size: 18px;
}
body {
  font-family: "Georgia", serif;
  background-color: #000000;
  color: #00a8a8;
  overflow-x: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}
